---
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -2
ColumnLimit: 180
BreakBeforeBraces: Allman
NamespaceIndentation: All
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
# This identifies the "main" header
IncludeIsMainRegex: '([-_](test|unittest))?$'

IncludeCategories:
  # 1. System headers (highest priority/top of list)
  - Regex: '^<.*>'
    Priority: 1
  # 2. Project headers
  - Regex: '^".*"'
    Priority: 2
  # 3. Everything else
  - Regex: '.*'
    Priority: 3
