# CMake cache
cmake-build/
build/
.xmake/

# Generated compile database (useful for LSP/IntelliSense)
compile_commands.json

# --- C++ & Linker Artifacts (If outside build dir) ---
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.dSYM/

# --- IDE & Editor Generation ---
# If you generate VS Code configurations via `xmake project -k vscode`
.vscode/
.idea/
.vs/

# If you generate Visual Studio solutions via `xmake project -k vs`
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# --- OS Specifics ---
.DS_Store
Thumbs.db